<div class='wrapper'>
  <div class='header'>
    <div class='logo'>
      <p>Wholesale Access Interface</p>
    </div>
    <div class='welcome_logout'>
      <p> Welcome {{username}}</p> |
      <logout-message></logout-message>
    </div>
  </div>
  <div class='main'>
    <div class='nav'>
      <div class='nav_btns'>
        <button class='usual_btn' id='home'>Home</button>
      </div>
      <div class='menu_back'>
        <nav-menu></nav-menu>
        <button class='usual_btn' id='Back'>Back</button>
      </div>
    </div>
    <div class='main_panel'>
      <div class='main_panel_header'>
      </div>
      <div class='main_panel_content'>
        <tabs-component></tabs-component>
      </div>
      <p>&copy; DonRiver, Inc. 2017. All Rights Reserved</p>
    </div>
  </div>
</div>